.orders a {
  margin-left: 50px;
  color: rgb(37, 200, 37);
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 5px;
  cursor: pointer;
}
/* a {
  cursor: pointer;
} */
main {
  padding-top: 50px;
  padding-left: 100px;
}

.title {
  padding-bottom: 30px;
}
#categories {
  display: flex;
}
table,
th,
td {
  margin-left: 110px;
  /* border: 2px solid rgb(81, 72, 72);
  border-collapse: collapse; */
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headercell {
  margin-left: 110px;
  /* border: 2px solid rgb(81, 72, 72);
  border-collapse: collapse; */
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
td {
  margin-left: 30px;
}
#categories table h3,
#categories table th,
#categories table td {
  /* padding-right: auto; */
  /* padding-bottom: 10px; */
  /* padding-left: 10px; */
  padding: 12px 70px;
  font-size: 14px;
  text-align: left;
}
/* a {
  padding-left: 10px;
  text-decoration: none;
  color: #787474;
  font-weight: 400;
  font-size: 18px;
} */
#count {
  padding-bottom: 20px;
}
input {
  font-size: 20px;
  padding-bottom: 20px;
}
label {
  font-size: 16px;
  padding-bottom: 20px;
}
#log-out {
  margin-left: 950px;
  cursor: pointer;
  color: #787474;
}
#filter {
  position: absolute;
  top: 200px;
}
.cellRow {
  background-color: #ffff;
  padding: 40px;
}
.cell {
  padding: 20px;
  padding-right: 20px;
}
